body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.project {
    background-color: rgb(54, 54, 54);
    width: 100vw;
    height: 100%;
}

.container {
    width: 100vw;
    height: 100%;
}


.player {
    background-color: rgb(243, 243, 243);
    border: 3px solid rgb(219, 63, 16);
    border-radius: 80px;
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-areas: 
    "control title"
    "control volume";
    overflow: hidden;
    max-width: 540px;
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: auto
}

.controlicon {
    display: none;
}

.controlicon.is-active {
    grid-area: control;
    display: block;
    width: 50px;
    position: relative;
    padding: 0 20px 0 20px;
    cursor: pointer;
}

.songname {
    grid-area: title;
}

.volume {
    grid-area: volume;
}

.video {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* this is the full bar */
.loadbar {
    width: 100%;
    background-color: rgba(35, 35, 35, 0.8);
    height: 1.5vh;
    position: absolute;
    bottom: 0;
    z-index: 99;
}

/* this is the loading bar */
.progressbar {
    width: 10%;
    background-color: rgb(219, 63, 16);
    height: 1.5vh;
    position: absolute;
    left: 0%;
}